<style>

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.header {
    padding: 0 45px;
    background-color: #283593;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
} 
.nav a:hover {
    color: #c5cae9;
    transform: rotate(6deg);
    transition: all 0.3s ease-out;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-left: 20px;

}

.hero {
    background-color: #c5cae9;
    padding: 60px 35px;
    display: flex;
    justify-content: center;
}

.hero-inner {
    max-width: 760px;
    justify-content: center;

}

.hero h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
}

.hero p {
    font-size: 1.18rem;
    line-height: 1.6;
}

.button {
    background-color: #3949ab;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block;

}

.footer {
    text-align: center;
    padding: 20px 0;
    columns: #999;
    font-size: .9rem;
}

</style>